<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Netflix</title>
</head>
<body>
    <div class="nav_wrapper">
       <nav>
           <div class="logo"><img id="logo_img" src="Netflix-Logo-Print_PMS.jpg" alt="Not Found Error"></div>
           <ul id="menu_box">
               <li><a href="#">Home</a></li>
               <li><a href="#">TV Show</a></li>
               <li><a href="#">Movies</a></li>
               <li><a href="#">Originals</a></li>
               <li><a href="#">Recently Added</a></li>
               <li><a href="#">My List</a></li>
           </ul>
           <ul id="icon_box">
               <li>
                   <i id="search_icon" class="fas fa-search"></i>
                   <i id="bell_icon" class="fas fa-bell"></i>
                   <i id="user_icon" class="fas fa-user"></i>
               </li>
           </ul>
       </nav>
    </div>
    <article class="article_wrapper">
    <div class="video_background">
        <div class="text-wrapper">
            <h1 class="main-text">WHIPLASH</h1>
            <h3 class="main-text">2014 R 1h 46m</h3>
            <h3 class="main-text">His music teacher is a living nightmare. But that nightmare just might bring out his best -- if he can survive it.</h3>
        </div>
        <div class="play-btn"><i class="far fa-play-circle"></i></div>
    </div>
    </article>
</body>
</html>