<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Netflix</title>
</head>
<body>
    <nav class="navigator">
        <div id="logo_box"><img class="logo" src="Netflix-Logo-Print_PMS.jpg" alt="Not Found Error"></div>
        <div class="nav_div">Home</div>
        <div class="nav_div">TV Show</div>
        <div class="nav_div">Moveis</div>
        <div class="nav_div">Originals</div>
        <div class="nav_div">Recently Added</div>
        <div class="nav_div">My List</div>
        <div class="icon_div">
            <i id="search_icon" class="fas fa-search"></i>
            <i id="bell_icon"class="fas fa-bell"></i>
            <i id="user_icon"class="fas fa-user-circle"></i>
        </div>
    </nav>
</body>
</html>