html, body{
    margin: 0;
    background-color: #000000;
}
.nav_wrapper{
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
}
#logo_img{
    position: relative;
    float: left;
    margin-top: 5px;
    margin-left: 20px;
    height: 170px;
}
#menu_box li a{
    font-size: 23px;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 20px;
}
a:hover{
    background-color: #E50914;
    border-radius: 8px;
    padding: 6px 10px 10px 10px;
    transition: 0.5s;
}
a:not(:hover){
    transition: 0.5s;
}
#menu_box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    list-style: none;
}

#bell_icon{
    margin: 0px 10px 0px 10px;
}
#icon_box{
    position: relative;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    font-size: 25px;
    color: #FFFFFF;
}
#search-box{
    background-color: #212121;
    padding-bottom: 3px;
    height: 25px;
    border: thick double #000000;
    color: #ffffff;
    margin-left: 20px;
    font-size: 20px;
}
#search-box:focus{
    outline: none;
}
article{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.video_background{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 1296px;
    height: 730px;
    background: linear-gradient(to right, #000000 0%, rgba(255, 0, 0, 0) 100%),url(https://espngrantland.files.wordpress.com/2014/10/whiplash-jk-simmons-miles-teller-1.jpg?w=1296);
}
.text-wrapper{
    margin: 0px 0px 50px 40px;
}
.main-text{
    
    height: 70px;
    width: 512px;
}
h1 {
    margin-bottom: 30px;
    font-size: 60px;
    color: #ffffff;
}
h3{
    color: #686060;
    margin: 0;
}

.play-btn{
    margin: 0px 100px 60px 0px;
    font-size: 80px;
    color: #ffffff;
}
.play-btn:hover{
    color: #E50914;
    font-size: 90px;
    transition: 0.5s;
}
.play-btn:not(:hover){
    transition: 0.5s;
}

#icon_box li i:hover{
    color: #E50914;
    transition:0.5s;
}
#icon_box li i:not(:hover){
    transition: 0.5s;
}
.poster-wrapper{
    display: flex;
}
.poster{
    margin: 5px;
}
.poster img:hover{
    border: 10px solid #E50914;
    border-radius: 5px;
    transition: 1s;
}
.poster:not(:hover){
    transition: 1s;
}